<section id="presentations">
  <div class="container">
    <h2>Presentations</h2>
    <h4>Slides for talks that I have given at various conferences and meetups.</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- <h5>
          <i class="fa fa-television"></i>&nbsp;&nbsp;<strong><a href="#">Coming Soon...</a></strong>
        </h5> -->
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/optionals-protocols-and-extensions-swift-by-example-socal-code-camp-16">Optionals, Protocols and Extensions - Swift by Example - SoCal Code Camp '16</a></strong><br>
        </h5>
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/ensuring-the-happy-path-mobile-dev-plus-test">Ensuring The Happy Path - Mobile Dev + Test Conference 4/17</a></strong><br>
        </h5>
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/es2015-and-your-rails-app-riverside-ruby-group">ES2015 and Your Rails App - Riverside Ruby Group 2/16</a></strong><br>
        </h5>                
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/2016-1">Demystifying the Wizardry of Regular Expressions - LV DotNet Meetup - 01/2016</a></strong><br>
        </h5>                
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/demystifying-the-wizardry-of-regular-expressions-socal-code-camp-15-la">Becoming a Polyglot Programmer through the Eyes of a Freelance Musician - SoCal Code Camp 15 - LA</a></strong><br>
        </h5>        
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/demystifying-the-wizardry-of-regular-expressions-socal-code-camp-15-la">Demystifying the Wizardry of Regular Expressions - SoCal Code Camp '15 - LA</a></strong><br>
        </h5>

      </div>
    </div>
  </div>
</section>
