<section id="presentations">
  <div class="container">
    <h3>Presentations</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-television"></i>&nbsp;&nbsp;<strong><a href="#">Coming Soon...</a></strong>
        </h5>
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/demystifying-the-wizardry-of-regular-expressions-socal-code-camp-15-la">Becoming a Polyglot Programmer through the Eyes of a Freelance Musician - SoCal Code Camp 15 - LA</a></strong><br>
        </h5>        
        <h5>
          <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<strong><a href="https://speakerdeck.com/kickinbahk/demystifying-the-wizardry-of-regular-expressions-socal-code-camp-15-la">Demystifying the Wizardry of Regular Expressions - SoCal Code Camp '15 - LA</a></strong><br>
        </h5>

      </div>
    </div>
  </div>
</section>
